<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
></script>
    </head>
<body>

    <nav class="navbar">
        <ul>
            <li>GlobalVIZ</li>
            <li>Dashboard</li>
        </ul>
    </nav>
    
    <div class="main-section">
        <div class="main2">
            <div class="left">
                <div class="title">
                    <div class="title1">
                    <div class="subt">
                    <span>500</span>
                    <div>
                        <h2>S&P 500</h2>
                        <p><%=bitcoinPrice%></p>
                    </div>
                    </div>
                   
                    <div class="sum">
                        <p>Previous Closing Price</p>
                        <p><%=bitcoinPrice%></p>
                    </div>
                    </div>

                </div>
                <div class="graph">
                <div id="container"></div>
                </div>
                <div class="info">
                    <div>
                        <div>
                            <img src="gp.svg" alt="">
                        </div>
                        <div>
                            <h7>S&P 500</h7>
                            <p><%=bitcoinPrice%></p>
                        </div>
                        <div class="change">
                            <p>+0.45%</p>
                        </div>

                    </div>
                    <div>
                        <div>
                            <img src="gp.svg" alt="">
                        </div>
                        <div>
                            <h7>S&P 500</h7>
                            <p><%=bitcoinPrice%></p>
                        </div>
                        <div class="change">
                            <p>+0.45%</p>
                        </div>

                    </div>
                    <div>
                        <div>
                            <img src="gp.svg" alt="">
                        </div>
                        <div>
                            <h7>S&P 500</h7>
                            <p><%=bitcoinPrice%></p>
                        </div>
                        <div class="change">
                            <p>+0.45%</p>
                        </div>

                    </div>
                    <div>
                        <div>
                            <img src="gp.svg" alt="">
                        </div>
                        <div>
                            <h7>S&P 500</h7>
                            <p><%=bitcoinPrice%></p>
                        </div>
                        <div class="change">
                            <p>+0.45%</p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="right">
                <h1>Market News</h1>
                <div class="headline" >
                    <!-- id="news-container"-->
                        <div  id="news-container">
                            <!-- <div id="news-item">
                                <h1>Dyuti is Binni(chomu)</h1>
                                <img src="" alt="">
                            </div> -->
                        </div> 
        
                </div>
            </div>
        </div>

    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch('http://127.0.0.1:5000/api/news')
            .then(response => response.json())
            .then(data => {
                data.JtKRv.forEach((item, index) => {
                    const newsContainer = document.createElement('div'); 
                    newsContainer.classList.add('news-item'); 
                    newsContainer.innerHTML += `<p>${item}</p>`; 
                    const imageUrl = data.Quavad[index]; 
                    if (imageUrl) {
                        fetch(`http://127.0.0.1:5000/api/image?url=${encodeURIComponent(imageUrl)}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.blob();
                        })
                        .then(blob => {
                            const image = document.createElement('img');
                            
                            image.src = URL.createObjectURL(blob); 
                            image.alt = "News Image";
                            newsContainer.appendChild(image); 
                        })
                        .catch(error => {
                            console.error('Error fetching image:', error);
                            const defaultImage = document.createElement('img');
                            defaultImage.src = 'bg.jpeg'; 
                            defaultImage.alt = "Default Image";
                            newsContainer.appendChild(defaultImage); 
                        });
                    } else {
                        newsContainer.innerHTML += `<p>No image available</p>`;
                    }
                    document.getElementById('news-container').appendChild(newsContainer); 
                });
            })
            .catch(error => console.error('Error fetching news:', error));
        });
    </script>
    <script>

        fetch('S&P500_data.json')
          .then(response => response.json())
          .then(data => {
            createChart(data);
          })
          .catch(error => {
            console.error('Error fetching data:', error);
          });
    
    
          function createChart(data) {
            const container = document.getElementById('container');
            const chart = LightweightCharts.createChart(
                container,
                {
                    layout: {
                        
                        background: { color: "black" },
                        textColor: "#DDD",
                    },
                    grid: {
                        vertLines: { color: "black" },
                        horzLines: { color: "black" },
                    },
                }
            );

            const table = container.getElementsByTagName('canvas')[0];
            
            table.style.borderRadius = '20px'; 
            


            chart.priceScale().applyOptions({
                borderColor: "#71649C",
            });

            chart.timeScale().applyOptions({
                borderColor: "#71649C",
            });

            const mainSeries = chart.addCandlestickSeries();
            mainSeries.setData(data);

            mainSeries.applyOptions({
                wickUpColor: "rgb(54, 116, 217)",
                upColor: "rgb(54, 116, 217)",
                wickDownColor: "rgb(225, 50, 85)",
                downColor: "rgb(225, 50, 85)",
                borderVisible: false,
            });

            window.addEventListener("resize", () => {
                const containerWidth = container.offsetWidth;
                const containerHeight = container.offsetHeight;
                chart.resize(containerWidth, containerHeight);
            });
        }
        // function reloadPage() {
        //     setTimeout(function() {
        //         window.location.reload();
        //     }, 30000); 
        // }
        // window.onload = reloadPage;

      </script>
</body>
</html>